@mixin bar {

}

@mixin btn {
  
}

@mixin btn1 {
  @include background($grad1);
  @include box-shadow($box_shadow);
  border: $border1;
  height: 40px;
  padding: $spacing;
  color: $text_color;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: $text_shadow;
  text-align: center;
  font-family: $font_family;
  font-size: $h3_size;
  font-weight: bold;
  a {
    display: block;
    width: 100%;
    color: $link_color;
  }
}

@mixin _acc-style {
	.mw_bar1 {
		padding: 10px;
		font-size: 16px;
		.mw_indicator {
			float: right;
			margin: 5px 10px 0 0;
		}
	}	

	@include background(linear-gradient(top, #852201, #6a1b00));
	color: #fff;
	margin: 10px 10px 0 10px;
	padding:0;
	border-radius: 8px;
	border:1px solid #6a1b00;
	font-weight: bold;
	ul {
		background: $color3;
		border-bottom-left-radius: 6px;
		border-bottom-right-radius: 6px;
		margin: 0 0;
		font-weight: bold;
		li {
			border-top:1px solid #6a1b00;
			padding:0;
			a {
				&:link, &:visited, &:hover, &:active {
					color: #6a1b00;
				}
				.mw_li-a-inner-wrap {
					padding:5px 20px 5px 20px;
				}
			}
		}
	}
}

@mixin _m-cart-button {
	@include background(linear-gradient(top, #852201, #6a1b00));
	width: 98%;
	color: #fff;
	font-weight:bold;
	text-align: center;
	padding: 10px 0;
	margin: 3px 0 0 0;
	border-radius: 3px;
	border:1px solid #6a1b00;
}


