
// Vertical Rhythm
$base-font-size: 13px;
$base-line-height: 24px;
@include establish-baseline();

// colors
$color1: #B03B01; // header color
$color2: #075899; // link color
$color3: desaturate(lighten(yellow,40%),50%);


$color5: $color2;
$color6: #ccc;

$color7: lighten($color1,50%);	

$color8: #eee;	// Grey box on category/product page
$color9: darken($color8,5%);

$font_family: "Trebuchet MS", Arial, Helvetica, sans-serif;
$font_size: 100%;
$border2: 1px solid #ccc;



